<section class="container">
    <h3 class="title">Equipamentos</h3>

    <div class="cards-container">
        <app-text-image-card itemImg="escora-metalica.jpg" itemImgAlt="Escoras metálicas" itemName="Escora metálica" itemDescription="A escora metálica é essencial para garantir a sustentação temporária de estruturas durante a construção, oferecendo segurança e praticidade em diversas obras. Fabricada em aço, ela é ajustável e fácil de manusear, proporcionando uma solução eficiente para escoramento." [advantagesItems]="escoraAdvantagesItems" advantageTitle="Vantagens da Escora Metálica"/>
        <app-text-image-card itemImg="andaime.jpg" itemImgAlt="Escoras metálicas" itemName="Andaime" itemDescription="O andaime é um equipamento indispensável para trabalhos em altura, proporcionando segurança e suporte para obras de construção, manutenção ou reforma. Ele oferece uma plataforma estável, permitindo que os trabalhadores alcancem diferentes níveis com facilidade." [advantagesItems]="andaimeAdvantagesItems" advantageTitle="Vantagens do Andaime" [inverted]=true/>
    </div>
</section>
