<section class="product-list-container">
    <h3 class="title">Produtos</h3>

    <div class="product-list">
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.webp" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
        <app-product-card itemName="Andaime" itemImg="rodizio-poliuretano.png" itemImgAlt="Rodizio Poliuretano"/>
    </div>
</section>