<section class="container">
    <h3 class="title">Acessórios</h3>

    <div class="acc-container">
        <app-accessories-card imgSrc="sapata-ajustavel.png" imgAlt="Sapata Ajustável" itemName="Sapata Ajustável"/>
        <app-accessories-card imgSrc="rodizio-poliuretano.png" imgAlt="Rodízio Poliuretano" itemName="Rodízio Poliuretano"/>
        <app-accessories-card imgSrc="piso-metalico.png" imgAlt="Piso Metálico" itemName="Piso Metálico"/>
        <app-accessories-card imgSrc="suporte.png" imgAlt="Suporte" itemName="Suporte"/>
        <app-accessories-card imgSrc="viga-metalica.png" imgAlt="Viga Metálica" itemName="Viga Metálica"/>
    </div>
</section>