<app-header></app-header>
<app-home-banner></app-home-banner>
<app-item-list title="Como o nosso aluguel funciona">
    <app-image-description-card imgSrc="magnifying-glass.svg" imgAlt="Lupa" title="Escolha o equipamento(s) desejado(s)" description="Selecione os equipamentos ideais para sua obra na página de Produtos!"/>
    <app-image-description-card imgSrc="chat.svg" imgAlt="Chat" title="Entre em contato conosco" description="Tire suas dúvidas e consulte orçamento! Estamos prontos para ajudar com a melhor solução para sua obra."/>
    <app-image-description-card imgSrc="check.svg" imgAlt="Lupa" title="Escolha o equipamento(s) desejado(s)" description="Selecione os equipamentos ideais para sua obra na página de Produtos! Alugue andaimes, escoramentos e mais com segurança e agilidade."/>
    <app-image-description-card imgSrc="magnifying-glass.svg" imgAlt="Lupa" title="Escolha o equipamento(s) desejado(s)" description="Selecione os equipamentos ideais para sua obra na página de Produtos! Alugue andaimes, escoramentos e mais com segurança e agilidade."/>
</app-item-list>

<app-text-image-section></app-text-image-section>

<app-item-list title="Acessórios">
    <app-image-description-card imgSrc="sapata-ajustavel.jpg" imgAlt="Sapata Ajustável" title="Sapata Ajustável" description="A sapata ajustável nivela e estabiliza andaimes e escoramentos em terrenos irregulares, garantindo segurança e firmeza à estrutura." imgWidth="200" imgHeight="200"/>
    <app-image-description-card imgSrc="rodizio-poliuretano.webp" imgAlt="Rodízio Poliuretano" title="Rodízio Poliuretano" description="O rodízio de poliuretano facilita a movimentação de equipamentos pesados, protege pisos delicados e oferece resistência e durabilidade em cargas elevadas." imgWidth="200" imgHeight="200"/>
    <app-image-description-card imgSrc="piso-metalico.png" imgAlt="Piso Metálico" title="Piso Metálico" description="O piso metálico é resistente, antiderrapante e suporta grandes cargas, garantindo segurança e durabilidade em andaimes." imgWidth="200" imgHeight="200"/>
    <app-image-description-card imgSrc="viga-metalica.jpg" imgAlt="Viga Metálica" title="Viga Metálica" description="A viga metálica é resistente, durável e suporta grandes cargas, garantindo estabilidade em estruturas de construção." imgWidth="200" imgHeight="200"/>
</app-item-list>

<app-product-list>
    
</app-product-list>
